<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Test</title>
    <meta name="description" content="test">
	<!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/65f54486e0.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <!--Js-phaser-->
    <script type="text/javascript" src="js/phaser.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!-- CSS perso -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('templates/header.ejs'); %>
<main>
    <p>Jeu en cours de développement. -> page test
    <br>
    <a href="/test">Page de test</a></p>
    <div id="content" class="game">
    <script>
        function isWin(tab) { // We check if is win
            let isWin = true;
            for (let i = 0; i < tab.length; i++) {
                for (let j = 0; j < tab.length; j++) {
                    if (j === 0) {
                        tmp = tab[i][j];
                    }
                }
                return isWin;
            }
        }

        function isFull(tab, x) {
            let isFull = true;
            if (tab[x][0] === 0) {
                isFull = false
            }
            return isFull;
        }

        function isSolvable(tab, nbColors, nbFlasks) {
            let isSolvable = true;
            if (nbColors >= nbFlasks) { // Add count colors
                isSolvable = false;
            }
            return isSolvable;
        }

        function translate(tab, nbFlasks, x, X) {
            let tmp = 0;
            let nbx = 0; // Number of color to move from x
            let start; // index of first color encountered
            let colorx; // color of x
            let nbX = 0;
            let colorX = 0;
            let result;// return value
            let bool = true;// do i loop the first loop ?

            if (x >= nbFlasks || X >= nbFlasks) {
                return false;
            }

            for (let i = 0; i < 4 && bool === true; i++) {
                if (i === 0) {  // first iteration
                    if (tab[x][0] != 0) { // If not 0, set tmp and start
                        tmp = tab[x][0];
                        colorx=tmp;
                        start = 0;
                    }
                }
                if (tmp === 0 && tab[x][i] != tmp) {  // If First color encountered after a 0
                    tmp = tab[x][i]               // set tmp and start
                    colorx = tmp;
                    start = i;
                }
                else if (tab[x][i] != tmp) {        // If second color encountered or end of loop, set nbx and stop looping
                    nbx = i - start;
                    bool = false;
                }
                else if(i==3){
			        nbx=i-start+1;
		        }
                console.log("nbx=",nbx,",tab[x][i]=",tab[x][i],",colorx=",colorx,"start=",start)
            }

            bool = true;

            for (let i = 0; i < 4 && bool; i++) {   // looping through to find not 0
                if (tab[X][i] === 0) {
                    nbX = i + 1;
                }
                else {
                    colorX = tab[X][i];
                    bool = false
                }
            }
            if (nbx > nbX || (colorx != colorX && colorX != 0)) {    // If more color than free space, don't execute and set return value to false
                result = false;                                   // if colors not same we also return false
            }
            else {           // Else, set return value to true and make the translation
                result = true;
                for(let i=0;i<nbx;i++){
                    tab[X][(nbX-1)-(nbx - 1 - i)] = tab[x][start + i];
                    tab[x][start + i] = 0;
		        }
            }
            return result;
        } 

        function importJson(){
            let data = 
            {
                "nbColors":0,
                "nbFlasks":0,
                "flasks": []
            }
            data.flasks =<%= JSON.stringify(map.flasks) %>;
            data.nbColors =<%= JSON.stringify(map.nbColors) %>;
            data.nbFlasks =<%= JSON.stringify(map.nbFlasks) %>;
            return data;
        }
        

        let data=importJson();
        
    </script>
    </div>
    
</main>
<footer>
    <%- include('templates/footer.ejs'); %>
</footer>
<p class="copyright"> &copy; PROJECT realised by Théo P, Théo D, Eliot, Djallal, Corentin and Quentin.</p>
</body>
</html>