<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Junia - Game</title>
    <meta name="description" content="Game">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/65f54486e0.js" crossorigin="anonymous"></script>
    <!-- Google Fonts -->
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
    <!--Js-phaser-->
    <script src="../vendor/phaser.js"></script>
    <script src="../js/main.js"></script>
    <!-- CSS perso -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

</head>
<body>
<%- include('templates/header.ejs'); %>
<main>
    <div id="game" class="game">
        <script>
            function isSolvable(tab, nbColors, nbFlasks) {
                let isSolvable = true;
                if (nbColors >= nbFlasks) { // Add count colors
                    isSolvable = false;
                }
                return isSolvable;
            }
            function importJson(){
                let data =
                    {
                        "nbColors":0,
                        "nbFlasks":0,
                        "flasks": []
                    }
                data.flasks = <%= JSON.stringify(map.flasks) %>;
                data.nbColors = <%= JSON.stringify(map.nbColors) %>;
                data.nbFlasks = <%= JSON.stringify(map.nbFlasks) %>;
                return data;
            }
            let data=importJson();
        </script>
    </div>

</main>
<footer>
    <%- include('templates/footer.ejs'); %>
</footer>
<p class="copyright"> &copy; PROJECT realised by Théo P, Théo D, Eliot, Djallal, Corentin and Quentin.</p>
</body>
</html>
